

<div class="container-fluid">
  <div class="mt-5">
    <h5>Account Details</h5>
  </div>


  <div class="row">
    <div class="col-md-3 offset-9">
      <img src="assets/images/profile.png">
    </div>
  </div>



  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

    <div class="row">
      <div class="col-md-2">
        Name:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        Phone:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        Email:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Address:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        City:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Ref. Code:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Date of Birth:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Nic:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        Bank:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        Branch:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        Account Name:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        Account No:
      </div>
      <div class="col-md-10">
        <div class="form-group required">
          <input type="text" class="form-control" formControlName="contact" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="update col-md-2 offset-10">
        <button class="btn btn-primary btn-round">Update</button>
      </div>
    </div>

  </form>


  <img src="assets/images/share-earn.png" style="width: 70%; margin-left: 100px">


  <div class="row" style="margin-top: 50px">
    <div class="col-md-1">
      <img src="assets/images/share.png">
    </div>
    <div class="col-md-4">
      <h4>Share With your Friends</h4>
    </div>
    <div class="col-md-1">
      <img src="assets/images/fb1.png">
    </div>
    <div class="col-md-1">
      <img src="assets/images/pin1.png">
    </div>
    <div class="col-md-1">
      <img src="assets/images/whatsapp1.png">
    </div>
    <div class="offset-4"></div>
  </div>


</div>
