<div class="row">

  <div class="col-md-6 mem-row"></div>

  <div class="col-md-6">
    <div class="row right-box">
      <div class="col-md-8">
        <h5 class="post">Platinum Director</h5>
        <h6>wait....</h6>
      </div>
      <div class="col-md-4">
        <img src="assets/images/hierachy.png">
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6 mem-row">
    <div class="row left-box">
      <div class="col-md-8">
        <h5 class="post">Platinum Director</h5>
        <h6>wait....</h6>
      </div>
      <div class="col-md-4">
        <img src="assets/images/hierachy.png">
      </div>
    </div>
  </div>

  <div class="col-md-6"></div>

</div>
