<div class="back-image" style="background-image: url('assets/images/ord-back.png')">

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain" style="background: rgba(204, 204, 204, 0.9);margin: 20px">
      <div class="card-header">
        <h4 class="card-title"> My Billing Address</h4>
      </div>
      <div class="card-body" style="padding: 20px">
        <div class="row">
          <div class="col-md-8">
            <address>
              No. 51<br>
              Old Road<br>
              Kaluthurai<br>
              54220<br>
            </address>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
