<div class="row pl-5 pr-5">
  <div class="col-md-6 p-3">
    <div class="card p-3" style="background: blue;color: white">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="item-text">Total Orders</div>
            <div class="item-text">800</div>
          </div>
          <div class="col-md-6">
            <i style="font-size: 80px" class="nc-icon nc-cart-simple"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-3">
    <div class="card p-3" style="background: red;color: white">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="item-text">Total Income</div>
            <div class="item-text">800</div>
          </div>
          <div class="col-md-6">
            <i style="font-size: 80px" class="nc-icon nc-money-coins"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row pl-5 pr-5">
  <div class="col-md-6 p-3">
    <div class="card p-3" style="background: yellow;color: white">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="item-text">Total Users</div>
            <div class="item-text">800</div>
          </div>
          <div class="col-md-6">
            <i style="font-size: 80px" class="nc-icon nc-single-02"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-3">
    <div class="card p-3" style="background: green;color: white">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="item-text">Total Comments</div>
            <div class="item-text">800</div>
          </div>
          <div class="col-md-6">
            <i style="font-size: 80px" class="nc-icon nc-bullet-list-67"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
