<div class="row">
  <div class="col-md-3">
    <div class="col-md-12">
    <div class="row box">
      <div class="col-md-8">
        <div class="item-text">Revenue</div>
        <div class="item-text">800</div>
      </div>
      <div class="col-md-4">
        <img src="assets/images/wallet.png" style="height: 50px">
      </div>
    </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
    <div class="row box">
      <div class="col-md-8">
        <div class="item-text">Revenue</div>
        <div class="item-text">800</div>
      </div>
      <div class="col-md-4">
        <img src="assets/images/customers.png" style="height: 50px">
      </div>
    </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
    <div class="row box">
      <div class="col-md-8">
        <div class="item-text">Revenue</div>
        <div class="item-text">800</div>
      </div>
      <div class="col-md-4">
        <img src="assets/images/users.png" style="height: 50px">
      </div>
    </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
    <div class="row box">
      <div class="col-md-8">
        <div class="item-text">Revenue</div>
        <div class="item-text">800</div>
      </div>
      <div class="col-md-4">
        <img src="assets/images/charts.png" style="height: 50px">
      </div>
    </div>
    </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-4 text-center">
    <div class="col-md-12">
    <div class="row box">
      <div class="col-md-12">
        <img src="assets/images/fb.png" style="height: 70px">
        <div class="item-text">80K</div>
        <div class="item-text">Follwers</div>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="col-md-12">
    <div class="row box">
      <div class="col-md-12">
        <img src="assets/images/insta.png" style="height: 70px">
        <div class="item-text">80K</div>
        <div class="item-text">Follwers</div>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="col-md-12">
    <div class="row box">
      <div class="col-md-12">
        <img src="assets/images/pin.png" style="height: 70px">
        <div class="item-text">80K</div>
        <div class="item-text">Follwers</div>
      </div>
    </div>
    </div>
  </div>
</div>



<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Simple">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
