<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <div class="row">
          <div class="col-md-4"><h4 class="card-title"> Staff</h4></div>
          <div class="col-md-8 text-right"><button class="btn btn-primary btn-round btn-sm">Create New</button></div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Name
            </th>
            <th>
              Deparment
            </th>
            <th>
              Role
            </th>
            <th>
              Action
            </th>
            </thead>
            <tbody>
            <tr>
              <td>
                Chathuranka
              </td>
              <td>
                Finance
              </td>
              <td>
                Finance Head
              </td>
              <td>
                <button class="btn btn-primary btn-round btn-sm">Edit</button>
                <button class="btn btn-danger btn-round btn-sm">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
