<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <div class="row">
          <div class="col-md-4"><h4 class="card-title"> Roles</h4></div>
          <div routerLink="/role-create" class="col-md-8 text-right"><button class="btn btn-primary btn-round btn-sm">Create New</button></div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Name
            </th>
            <th>
              Department
            </th>
            <th>
              Role
            </th>
            <th>
              Action
            </th>
            </thead>
            <tbody>
            <tr>
              <td>
                MRo001
              </td>
              <td>
                Denith Palliyaguru
              </td>
              <td style="color: blue">
                Confirmed
              </td>
              <td>
                <button class="btn btn-purple btn-sm btn-round">View</button>
              </td>
              <td>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </td>
            </tr>
            <tr>
              <td>
                MRo001
              </td>
              <td>
                Denith Palliyaguru
              </td>
              <td style="color: blue">
                Confirmed
              </td>
              <td>
                <button class="btn btn-purple btn-sm btn-round">View</button>
              </td>
              <td>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
