<div class="back-image" style="background-image: url('assets/images/ord-back.png')">

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> My Orders</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="background: rgba(204, 204, 204, 0.9);">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Order
            </th>
            <th>
              Date
            </th>
            <th>
              Status
            </th>
            <th>
              Total
            </th>
            <th>
              Tracking
            </th>
            <th>
              View
            </th>
            <th>
              Payment
            </th>
            </thead>
            <tbody>
            <tr>
              <td>
                22542
              </td>
              <td>
                10/02/2022
              </td>
              <td>
                Processing
              </td>
              <td>
                4500
              </td>
              <td>
                5243
              </td>
              <td>
                View
              </td>
              <td>
                Payment Done
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
