.back-image {
  // background-image: url('assets/images/ord-back.png');
  // background-image: url('assets/images/ord-back.png');
  background-color: #cccccc;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
