<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Admin Details</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Name
            </th>
            <th>
              ID No
            </th>
            <th>
              Department
            </th>
            <th>
              Position
            </th>
            <th>
              Photo
            </th>
            </thead>
            <tbody>
            <tr>
              <td>
                Mr. Ashoka
              </td>
              <td>
                854124224v
              </td>
              <td>
                Sales
              </td>
              <td>
                CEO
              </td>
              <td>
                <img src="assets/images/products.png" style="width: 50px;margin-right: 10px">
              </td>
            </tr>
            <tr>
              <td>
                Mr. Ashoka
              </td>
              <td>
                854124224v
              </td>
              <td>
                IT
              </td>
              <td>
                Manager
              </td>
              <td>
                <img src="assets/images/products.png" style="width: 50px;margin-right: 10px">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
