<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Stock Details</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Name
            </th>
            <th>
              Quantity
            </th>
            <th>
              Available Qty
            </th>
            <th>
              Set Reminder
            </th>
            </thead>
            <tbody>
            <tr>
              <td>
                <img src="assets/images/products.png" style="width: 50px;margin-right: 10px">Face Wash
              </td>
              <td>
                54
              </td>
              <td>
                25
              </td>
              <td>
                10
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/images/products.png" style="width: 50px;margin-right: 10px">Face Wash
              </td>
              <td>
                520
              </td>
              <td>
                42
              </td>
              <td>
                4
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
