<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Order Details</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Order Id
            </th>
            <th>
              Name
            </th>
            <th>
              Status
            </th>
            <th>
              Total
            </th>
            <th>
              Date
            </th>
            <th>
              View Details
            </th>
            <th>
              Action
            </th>
            </thead>
            <tbody>
            <tr>
              <td>
                MRo001
              </td>
              <td>
                Denith Palliyaguru
              </td>
              <td style="color: blue">
                Confirmed
              </td>
              <td>
                Rs36,738
              </td>
              <td>
                2022-02-14
              </td>
              <td>
                <button class="btn btn-purple btn-sm btn-round">View</button>
              </td>
              <td>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </td>
            </tr>
            <tr>
              <td>
                MRo001
              </td>
              <td>
                Denith Palliyaguru
              </td>
              <td style="color: blue">
                Confirmed
              </td>
              <td>
                Rs36,738
              </td>
              <td>
                2022-02-14
              </td>
              <td>
                <button class="btn btn-purple btn-sm btn-round">View</button>
              </td>
              <td>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
